/* Basic Reset */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
}

/* Splash Screen Styles */
.splash-screen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity 1s ease-out, visibility 1s ease-out;
}

.splash-screen.hidden {
    opacity: 0;
    visibility: hidden;
}

/* Logo animation */
.logo img {
    width: 150px;
    animation: fadeIn 2s ease-in-out;
}
#dev{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Main Content Styles */
.content {
    display: none;
    padding: 20px;
    text-align: center;
}

/* Fade-in animation for the splash screen */
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
