.navbar{
    height: 55px;
    color: white;
    position: sticky;
    display: flex;
    
    justify-content: left;
    margin: 0px;
    padding: 0px;
}
.search-container{
    position: absolute;
    top: auto;
    right: 30%;
    bottom: 12%;
}
#account{
    position: absolute;
    top: auto;
    right: 5%;
    bottom: 30%;
    
}

#bell{
    position: absolute;
    top: auto;
    right: 9%;
    bottom: 30%;
    
}

#createbar{
    position: absolute;
    top: auto;
    right: 13%;
    bottom: 30%;
    
}

#mic{
    position: absolute;
    top: auto;
    right: 17%;
    bottom: 30%;
}

#icon{
    position: relative;
    right: -5%;
    bottom: -20%;
}
.search-container {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 30px;
    background-color: #fff;
    padding: 1px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }

  #search-input {
    border: none;
    outline: none;
    width: 400px;
    padding: 10px;
    flex: 1;
    font-size: 16px;
    border-radius: 24px;
  }

  #search-button {
    background: none;
    border: none;
    padding: 5px;
    cursor: pointer;
  }

  #search-button img {
    width: 20px;
    height: 20px;
  }

  body {
    font-family: Arial, sans-serif;
    background-color:white;
    margin: 0;
    padding: 0;

}

.ypanel{
    display: flex;
    position: absolute;
    top: 90px;
    left: 80px;
    gap: 50px;
    padding: 20px;
}
.tiname{
    font-size: 40px;
    margin-top:-10px;
    font-weight: bold;
}
.harstech{
    margin-left: -344px;
    margin-top: 40px;

}
.accswi{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 29px;
   width: 121.29px;
   border: 2px solid black;   
   border-radius: 10px;
   margin-top: 70px;
   margin-left: -290px;
   background-color: rgb(218, 218, 218);
}
.googleac{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 29px;
    width: 121.29px;
    border: 2px solid black;
    background-color: rgb(218, 218, 218);
    border-radius: 10px;
    margin-top: 70px;
    margin-left: -40px;
    
}
.googleac:hover{
    background-color: rgb(181, 180, 180);
    transition: 0s;
    
}
.accswi:hover{
    background-color: rgb(181, 180, 180);
    transition: 0s;
    
}
.hist{
    position: absolute;
    top: 250px;
    left: 50px;
    font-size: 22px;
}

.vall{
    position: absolute;
    top: 250px;
    right: 40px;
    font-size: 16px;
    border-radius: 12px;
    height: 30px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vall:hover{
    background-color: #ccc;
    transition: 1s;
}

.visec{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.didecs{
    position: relative;
    top: 250px;
}

.titname{
    margin-top: 0.1px;
}
.cname{
    margin-top: -12px;
}

.viewd{
    margin-top: -13px;
}

.time{
    font-size: 11px;
    color: white;
    background-color: black;
    height: 20px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 85px;
    left: 150px;
}

.pl{
    position: absolute;
    top: 700px;
}

#play{
    margin-top: 300px;
    margin-left: 50px;
    font-size: 22px;
    font-weight: bold;
}

#rece{
    margin-top: -43px;
    margin-left: 160px;
    color: #b6b4b4;
}

.pl{
    position: absolute;
    left: 80px;
    top: 650px;
    
}

#plsec,#likevi{
    margin: 7px;

}
#plsec{
    font-weight: bold;
    font-size: 13px;
    color: #747373;
}
#plv{
    background-color: black;
    color: white;
    height: 19px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    position: absolute;
    top: 80px;
    left: 140px;
}
